@model IEnumerable<assignment1comp2007.Models.Company>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.BrandId })
            @if (User.Identity.IsAuthenticated)
            {
                <p>|@Html.ActionLink("Edit", "Edit", new { id = item.BrandId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BrandId })
                </p>
            }
              
        </td>
    </tr>
}

</table>
